<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Breast Cancer Classifier </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Breast Cancer Classifier</h1>
     <h3> Enter the following values to predict Breast Cancer Severity</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="par1" placeholder="par1" required="required" />
        <input type="text" name="par2" placeholder="par2" required="required" />
		<input type="text" name="par3" placeholder="par3" required="required" />
        <input type="text" name="par4" placeholder="par4" required="required" />
        <input type="text" name="par5" placeholder="par5" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>